<template>
  <v-container fluid>
    <v-card>
      <v-container
        fluid
        style="min-height: 0;"
        grid-list-lg
      >
        <v-layout row wrap>
          <v-flex xs12 v-for="item in music" v-bind:key="item.name">
            <v-card color="blue-grey darken-2" class="white--text">
              <v-card-title primary-title>
                <div class="headline">{{ item.name }}</div>
                <div>{{ item.short }}</div>
              </v-card-title>
              <v-card-actions>
                <v-btn flat dark>Listen now</v-btn>
              </v-card-actions>
              <v-flex xs5 v-if="item.media != null">
                <v-card-media
                  :src="item.media"
                  height="125px"
                  contain
                ></v-card-media>
              </v-flex>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  name: 'music',
  data () {
    return {
      music: [
        {
          name: 'Song2',
          artist: 'blur',
          media: null
        },
        {
          name: 'back in black',
          artist: 'AC/DC',
          media: '/static/images/acdc.png'
        }
      ]
    }
  },
  methods: {
    getDetails () {
      axios.get('/api/music', {
        status: 'update'
      })
        .then(function (response) {
          console.log(response)
          this.status = response.data.status
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    nextSong () {

    },
    lastSong () {

    },
    queueSong () {

    }
  }
}
</script>

<style scoped>

</style>
